body {
  margin:0;
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}


a:link {color: lightgrey; text-decoration: none;}
a:visited {color:lightgrey;text-decoration:none;}
a:active {color:lightsalmon;text-decoration:none;}
a:hover {color: lightsalmon;text-decoration: none;}


#nav_bar {
  padding-top: 30px;
  padding-left: 60px;
  font-family:'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  text-decoration: none;
  color: lightsalmon;
  font-family: 'Roboto Condensed', sans-serif;
}

.image {
  padding-left: 375px;
  padding-top: 30px;

}

.mytext {
    color: SEAGREEN;
    width: 350px;
    float: left;
    font-family: helvetica;
}

.container {
    width: 650px;
    padding-left: 60px;
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
